[package]
name = "dfly-common"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror = { workspace = true }

[dev-dependencies]
googletest = { workspace = true }
rstest = { workspace = true }

[lints]
workspace = true
